
body {
  font-family: 'Montserrat', sans-serif;
  min-width: 800px;
  min-height: 600px;
  overflow-x: hidden;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffffff;

}

.header-img-container {
  width: 30%;
}

.header-image {
  min-width: 75px;
  max-width: 200px;
  min-height: 75px;
  max-height: 200px;
  animation: rotateImage 10s infinite linear;
  margin-right: 30px;
  margin-bottom: 14px;
}

.header-title-nav-container {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-title {
margin-right: 20px;
}

@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header h2 {
  margin: 0;
  margin-left: auto;
  font-size: 48px;
  margin-right: 30px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #333;
}

nav a:hover {
  text-decoration: underline;
}

.file-upload-container {
  float: right;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
}
.left-side-panel {
  width: 30%;
}

.right-side-panel {

}

.input-clear-group {
  width: 70%;
  display: flex;
  align-items: center;
  gap: 10px;


}

.upload-button-group {
  text-align: center;
  margin-top: 10px;


}

.message {
  margin-top: 10px;
  text-align: center;
}

.upload-button {
  margin-right: 50px;
}
